@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

:root {
  --page-edge-padding: 20px;
}

@media screen and (min-width: 900px) {
  :root {
    --page-edge-padding: 40px;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-variation-settings: 'wght' 350;
  font-size: 1.2rem;
}

p {
  line-height: 1.25;
}

.left-column {
  max-width: 800px;
}

.nav-title {
  font-variation-settings: 'wght' 500;
  font-size: 3rem;
}

.nav-social-img {
  max-width: 32px;
  padding-left: 24px;
}

.header {
  padding: var(--page-edge-padding);
}

.main-content {
  padding: var(--page-edge-padding);
}

.stackable {
  display: flex;
  flex-direction: column;
}

.phone-img {
  max-width: 150px;
}

.phone-container {
  transform: rotate(0deg);
  padding: 10px;
  margin: 0 auto;
}

footer {
  padding: var(--page-edge-padding);
}

@media screen and (min-width: 900px) {
  .stackable {
    display: flex;
    flex-direction: row;
  }

  .phone-img {
    max-width: 250px;
  }

  .phone-container {
    transform: rotate(10deg);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
  }
}
