<MobileMenuWrapper as |mmw|>
  <mmw.MobileMenu @type="right" as |mm|>
    <ul>
      <li><mm.LinkTo @route="index">Home</mm.LinkTo></li>
      <li><mm.LinkTo @route="writing">Writing</mm.LinkTo></li>
      <li><mm.LinkTo @route="videos">Videos</mm.LinkTo></li>
      <li><mm.LinkTo @route="projects">Projects</mm.LinkTo></li>
      <li><mm.LinkTo @route="work">Work</mm.LinkTo></li>
    </ul>
  </mmw.MobileMenu>

  <mmw.Content>
    <mmw.Toggle>Menu</mmw.Toggle>
    {{yield}}
  </mmw.Content>
</MobileMenuWrapper>