<MobileMenuWrapper as |mmw|>
  <mmw.MobileMenu @type="right" as |mm|>
    <ul>
      <li><mm.LinkTo @route="index">Home</mm.LinkTo></li>
      <li><mm.LinkTo @route="writing">Writing</mm.LinkTo></li>
      <li><mm.LinkTo @route="videos">Videos</mm.LinkTo></li>
      <li><mm.LinkTo @route="projects">Projects</mm.LinkTo></li>
      <li><mm.LinkTo @route="work">Work</mm.LinkTo></li>
    </ul>
  </mmw.MobileMenu>

  <mmw.Content>
    <header class="header">
      <span class="nav-title">Jen Weber</span>
      <a href="https://github.com/jenweber"><img class="nav-social-img" src="images/GitHub-Mark-64px.png" alt="GitHub profile"></a>
      <a href="https://twitter.com/jwwweber"><img class="nav-social-img" src="images/Twitter-circle-blue.png" alt="GitHub profile"></a>
      <mmw.Toggle>Menu</mmw.Toggle>
    </header>
    <main class="main-content">
      {{yield}}
    </main>
    <footer>Made with &#9829; in Ember</footer>
  </mmw.Content>
</MobileMenuWrapper>