{{page-title "Home"}}
<section>

  <h1>
    Mission-driven web development with a focus on UX, maintainability, and
    collaboration.
  </h1>
  <p>
    Hi, I'm Jen Weber. I believe that web development can be a powerful force
    for good, with apps that support critical work in democracy, healthcare,
    sustainability, and justice. I love that I get to code for a living while
    advancing causes that I care about, in my own small way.
  </p>
  <p>
    I'm a senior software engineer, tech writer, public speaker, and Ember
    framework core team member. I specialize in product engineering - the code
    that ties closely into the end user experience. I work mostly in the front
    end and API design in the back end. My favorite tools are
    <a href="https://emberjs.com">Ember.js</a>
    and
    <a href="https://rubyonrails.org/">Rails</a>. They help me spend as much
    time as possible on important parts of a product, and support me in creating
    experiences that are accessible to everyone.
  </p>
  <p>
    Let's build something together!
  </p>
  <p>
    <ul>
      <li><a href="https://secure.actblue.com/jobs">Come work with me at my day
          job</a></li>
      <li><a
          href="https://medium.com/@jenweber/your-first-open-source-contribution-a-step-by-step-technical-guide-d3aca55cc5a6"
        >Volunteer your time for an open source project</a></li>
      <li>Stop by the Ember Learning Team meeting via the
        <a href="https://emberjs.com/community/">Ember Community Discord</a></li>
      <li>Contact me at <a href="mailto:j@jenweber.me">j@jenweber.me</a></li>
    </ul>
  </p>
</section>