{{page-title "Projects"}}
<h1>Side projects</h1>

<p>
Here, you will find a variety of my side project apps. I've
intentionally included projects of many different quality levels.
These are very different from the code I write at work (which has tons of tests,
documentation, error handling, useful abstractions, etc). This is where I learn
and experiment, outside of the box.
</p>



